@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: SF Pro Display;
  transition: all 0.3s;
}

body {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto;
  transition: all 0.3s;
  background: #FFF;
}

html {
  scroll-behavior: smooth;
  transition: all 0.3s;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.isClicked {
  animation: popOut 0.6s ease forwards;
}

@keyframes popOut {
  0% {
    transform: scale(0.8);
    opacity: 0.933233;
  }
  50% {
    transform: scale(1.06);
    opacity: 0.9677;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
a {
  text-decoration: none;
  font-style: italic;
  font-size: 10px;
}

.a-link {
  animation: blink 1.8s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
h1::selection, h2::selection, h3::selection, h4::selection,
h5::selection, h6::selection, p::selection,
span::selection, b::selection, strong::selection,
button::selection, i::selection, div::selection,
a::selection, img::selection, ::selection {
  background: #2f3031;
  color: aliceblue;
  padding: 20px;
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  src: local("☺"), url("./asset/fonts/sf-Pro-regular/sf-pro-display_regular.woff2") format("woff2"), url("./asset/fonts/sf-Pro-regular/sf-pro-display_regular.woff2") format("woff"), url("./asset/fonts/sf-Pro-regular/sf-pro-display_regular.woff2") format("truetype");
}
@font-face {
  font-family: "SF Pro Display B";
  font-style: normal;
  src: local("☺"), url("./asset/fonts/sf-Pro-regular/sf-pro-display_semibold.woff2") format("woff2"), url("./asset/fonts/sf-Pro-regular/sf-pro-display_semibold.woff2") format("woff"), url("./asset/fonts/sf-Pro-regular/sf-pro-display_semibold.woff2") format("truetype");
}
@font-face {
  font-family: "SF Pro Display SB";
  font-style: normal;
  src: local("☺"), url("./asset/fonts/sf-Pro-semibold/sf-pro-icons_semibold.woff2") format("woff2"), url("./asset/fonts/sf-Pro-semibold/sf-pro-icons_semibold.woff2") format("woff"), url("./asset/fonts/sf-Pro-semibold/sf-pro-icons_semibold.woff2") format("truetype");
}
@font-face {
  font-family: "SF Pro Display Text";
  font-style: normal;
  src: local("☺"), url("./asset/fonts/sf-Pro-text/sf-pro-text_regular.woff2") format("woff2"), url("./asset/fonts/sf-Pro-text/sf-pro-text_regular.woff2") format("woff"), url("./asset/fonts/sf-Pro-text/sf-pro-text_regular.woff2") format("truetype");
}
@font-face {
  font-family: "SF Pro Display Text B";
  font-style: normal;
  src: local("☺"), url("./asset/fonts/sf-Pro-text/sf-pro-text_semibold.woff2") format("woff2"), url("./asset/fonts/sf-Pro-text/sf-pro-text_semibold.woff2") format("woff"), url("./asset/fonts/sf-Pro-text/sf-pro-text_semibold.woff2") format("truetype");
}
#main-wrapper {
  width: 100%;
  display: block;
}

.body-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#page-header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 90px;
  padding: 10px 5%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  background: #FFF;
  z-index: 99;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#page-header .nav-bar {
  width: 30%;
}
#page-header .nav-bar ul {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}
#page-header .nav-bar ul li {
  list-style: none;
}
#page-header .nav-bar ul li a {
  font-style: normal;
  font-size: 16px;
  font-family: SF Pro Display Text B;
  color: #000;
}
#page-header .nav-bar ul li a:hover {
  color: #E31D1D;
}
@media (width < 897px) {
  #page-header .nav-bar {
    width: 60%;
  }
  #page-header .nav-bar ul li a {
    font-size: 14px;
  }
}
@media (width < 397px) {
  #page-header .nav-bar {
    width: 60%;
  }
  #page-header .nav-bar ul li a {
    font-size: 10px;
  }
}
#page-header .nav-list-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: baseline;
}
#page-header .nav-list-btn button {
  width: 130px;
  height: 35px;
  overflow: hidden;
  border-radius: 100vw;
}
#page-header .nav-list-btn button div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#page-header .nav-list-btn button div span {
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-header .nav-list-btn button div span:nth-child(2) {
  opacity: 0;
}
#page-header .nav-list-btn button:nth-child(1):hover {
  border: 1px solid #E31D1D;
  color: #E31D1D;
  border-radius: 100vw;
}
#page-header .nav-list-btn button:nth-child(1):hover div {
  transform: translateY(-24px);
}
#page-header .nav-list-btn button:nth-child(1):hover div span:nth-child(1) {
  opacity: 0;
}
#page-header .nav-list-btn button:nth-child(1):hover div span:nth-child(2) {
  opacity: 1;
}
#page-header .nav-list-btn button:nth-child(2):hover {
  border: 1px solid #E31D1D;
  color: #FFF;
  background-color: #E31D1D;
  border-radius: 100vw;
}
#page-header .nav-list-btn button:nth-child(2):hover div {
  transform: translateY(-24px);
}
#page-header .nav-list-btn button:nth-child(2):hover div span:nth-child(1) {
  opacity: 0;
}
#page-header .nav-list-btn button:nth-child(2):hover div span:nth-child(2) {
  opacity: 1;
}
@media (width < 897px) {
  #page-header .nav-list-btn {
    display: none;
  }
}

.nav-list-btn-2 {
  display: none;
}

@media (width < 897px) {
  .nav-list-btn-2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 5%;
    opacity: 0.2;
    z-index: 10;
    transform: translateY(70px);
    animation: popIn 0.9s ease forwards;
  }
  .nav-list-btn-2 .fixed-cover {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: baseline;
  }
  .nav-list-btn-2 button {
    width: 130px;
    height: 35px;
    overflow: hidden;
    border-radius: 100vw;
  }
  .nav-list-btn-2 button div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-list-btn-2 button div span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-list-btn-2 button div span:nth-child(2) {
    opacity: 0;
  }
  .nav-list-btn-2 button:nth-child(1):hover {
    border: 1px solid #E31D1D;
    color: #E31D1D;
    border-radius: 100vw;
  }
  .nav-list-btn-2 button:nth-child(1):hover div {
    transform: translateY(-24px);
  }
  .nav-list-btn-2 button:nth-child(1):hover div span:nth-child(1) {
    opacity: 0;
  }
  .nav-list-btn-2 button:nth-child(1):hover div span:nth-child(2) {
    opacity: 1;
  }
  .nav-list-btn-2 button:nth-child(2):hover {
    border: 1px solid #E31D1D;
    color: #FFF;
    background-color: #E31D1D;
    border-radius: 100vw;
  }
  .nav-list-btn-2 button:nth-child(2):hover div {
    transform: translateY(-24px);
  }
  .nav-list-btn-2 button:nth-child(2):hover div span:nth-child(1) {
    opacity: 0;
  }
  .nav-list-btn-2 button:nth-child(2):hover div span:nth-child(2) {
    opacity: 1;
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    -webkit-mask: linear-gradient(transparent, white 60%, white 100%, transparent);
    background: #fff;
    mask: linear-gradient(transparent, white 60%, white 100%, transparent);
  }
  @keyframes popIn {
    0% {
      opacity: 0.2;
      transform: translateY(70px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.fixed-line {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 3px;
  background-image: conic-gradient(red, #ff2888, #e31d1d);
  scale: 0 1;
  transform-origin: left;
  animation: viewThrough linear;
  animation-timeline: scroll(y);
}

@keyframes viewThrough {
  to {
    scale: 1 1;
  }
}
.main-container {
  width: 100%;
  padding-top: 90px;
  overflow: clip;
}

.main-wrapper {
  width: inherit;
  height: 572px;
  transition: all 0.4s;
  background: linear-gradient(10deg, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.7) 100%), url(./asset/images/backgrounds/home-banner.png) center no-repeat;
  background-size: cover;
  scale: 1;
  opacity: 1;
  animation: fadeOut linear;
  animation-timeline: view(y);
  animation-range: exit -500px;
}
.main-wrapper .main-content {
  width: 100%;
  height: 100%;
  display: flex;
  scale: 1;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main-wrapper .main-content .listed-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 3.5rem;
}
.main-wrapper .main-content .listed-details h6 {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: SF Pro Display Text;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main-wrapper .main-content .listed-details h1 {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: SF Pro Display Text B;
  font-size: 50px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  scale: 1 1;
}
.main-wrapper .main-content .listed-details h1 span {
  animation-delay: 1.3s;
}
.main-wrapper .main-content .listed-details span {
  color: rgba(247, 243, 243, 0.15);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  text-overflow: clip;
  background-image: linear-gradient(white, rgb(239, 227, 227));
  animation-delay: 0.3s;
  animation: reveal 1s linear forwards;
}
@keyframes reveal {
  to {
    background-size: 100% 100%;
  }
}
.main-wrapper .main-content .listed-details form {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main-wrapper .main-content .listed-details form div {
  position: relative;
  width: 330px;
  border-radius: 10px;
  border: 1px solid #FFF;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: start;
}
.main-wrapper .main-content .listed-details form div input {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 15px;
  color: #FFF;
  padding: 8px 50px 8px 20px;
  background-color: transparent;
}
.main-wrapper .main-content .listed-details form div input::placeholder {
  font-size: 13px;
}
.main-wrapper .main-content .listed-details form div img {
  position: absolute;
  top: 25%;
  right: 15px;
}
.main-wrapper .main-content .listed-details form button {
  color: #E31D1D;
  border: 0;
  font-size: 13px;
}
.main-wrapper .main-content .listed-details span::selection, .main-wrapper .main-content .listed-details h1::selection {
  background: #FFF;
  color: #000;
  padding: 20px;
}

@keyframes fadeOut {
  to {
    background: linear-gradient(10deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.7) 100%), url(./asset/images/banner/signup-banner.png) center no-repeat;
    background-size: cover;
    scale: 1.3;
    transition: all 0.4s;
  }
}
.category-container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.category-container .category-wrapper {
  margin-bottom: 40px;
  padding-inline: 20px;
}
.category-container .category-content {
  width: 80%;
  display: grid;
  gap: 40px;
  grid-template-columns: auto auto auto auto;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  background: #fff;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.category-container .category-content .content-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.category-container .category-content .content-layout .svg {
  border-radius: 10px;
  border: 1px solid #E9E7E7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  aspect-ratio: 16/9;
}
.category-container .category-content .content-layout .svg img {
  width: 60px;
}
@media (width < 1005px) {
  .category-container .category-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
    gap: 10px;
  }
  .category-container .category-content .content-layout {
    width: 120px;
  }
  .category-container .category-content .content-layout .svg {
    padding: 10px;
  }
  .category-container .category-content .content-layout .svg img {
    width: 40px;
  }
  .category-container .category-content .content-layout span {
    font-size: 13px;
  }
  .category-container .category-content .content-layout p {
    font-size: 10px;
  }
}

.gallery {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.gallery-error {
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: SF Pro Display Text;
  color: #CCC;
}

.transition-opacity {
  transition: opacity 0.3s ease;
}

.job-box2 {
  width: 100%;
  align-self: start;
  justify-self: start;
  float: left;
}

.job-box {
  width: 80%;
  align-self: center;
  justify-self: center;
  margin-inline: 10%;
}

.job-box, .job-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 10px;
  background: #FDEDED;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 90px;
  padding: 20px;
}
.job-box .job-box-main, .job-box2 .job-box-main {
  width: 70%;
  display: flex;
  justify-self: flex-start;
  gap: 10px;
  align-items: center;
  justify-content: start;
}
.job-box .job-box-main .job-box-logo img, .job-box2 .job-box-main .job-box-logo img {
  width: 100%;
  min-width: 50px;
  pointer-events: none;
}
.job-box .job-box-main .job-box-content, .job-box2 .job-box-main .job-box-content {
  width: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
  gap: 5px;
}
.job-box .job-box-main .job-box-content .job-name, .job-box2 .job-box-main .job-box-content .job-name {
  width: 80%;
  overflow: hidden;
  display: -webkit-box;
  font-weight: 600;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: start;
  cursor: pointer;
}
.job-box .job-box-main .job-box-content .job-view, .job-box2 .job-box-main .job-box-content .job-view {
  opacity: 0;
  position: absolute;
  top: -8px;
  transition: all 0.5s;
  display: inline-block;
  border-radius: 10px;
  background: rgb(245, 238, 238);
  padding: 5px 8px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
  text-overflow: ellipsis;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.job-box .job-box-main .job-box-content .job-view.active, .job-box2 .job-box-main .job-box-content .job-view.active {
  opacity: 1;
  transition: all 0.5s;
}
@media screen and (max-width: 642px) {
  .job-box .job-box-main .job-box-content .job-view, .job-box2 .job-box-main .job-box-content .job-view {
    max-width: 150%;
    display: block;
    white-space: normal;
  }
}
@media screen and (max-width: 989px) {
  .job-box .job-box-main .job-box-content .job-year, .job-box2 .job-box-main .job-box-content .job-year {
    opacity: 0;
  }
  .job-box .job-box-main .job-box-content .job-posted, .job-box2 .job-box-main .job-box-content .job-posted {
    opacity: 0;
  }
  .job-box .job-box-main .job-box-content .content-detail span, .job-box2 .job-box-main .job-box-content .content-detail span {
    white-space: normal;
    font-family: SF Pro Display Text;
    font-size: 12px;
  }
  .job-box .job-box-main .job-box-content .content-detail span img, .job-box2 .job-box-main .job-box-content .content-detail span img {
    width: 10px;
  }
  .job-box .job-box-main .job-box-content .content-detail span li, .job-box2 .job-box-main .job-box-content .content-detail span li {
    color: #5D5A5A;
  }
}
.job-box .job-box-main .job-box-content .content-detail span, .job-box2 .job-box-main .job-box-content .content-detail span {
  white-space: nowrap;
  font-family: SF Pro Display Text;
  font-size: 12px;
}
.job-box .job-box-main .job-box-content .content-detail span img, .job-box2 .job-box-main .job-box-content .content-detail span img {
  width: 10px;
}
.job-box .job-box-main .job-box-content .content-detail span li, .job-box2 .job-box-main .job-box-content .content-detail span li {
  color: #5D5A5A;
}
@media screen and (max-width: 428px) {
  .job-box .job-box-main .job-box-content .content-detail span, .job-box2 .job-box-main .job-box-content .content-detail span {
    font-size: 10px;
  }
}
@media screen and (max-width: 416px) {
  .job-box .job-box-main .job-box-content .content-detail span, .job-box2 .job-box-main .job-box-content .content-detail span {
    white-space: normal;
    font-size: 10px;
  }
}
.job-box .job-box-btn-layout, .job-box2 .job-box-btn-layout {
  display: flex;
  justify-self: flex-end;
  align-items: flex-start;
  gap: 10px;
}
.job-box .job-box-btn-layout #heart, .job-box2 .job-box-btn-layout #heart {
  padding: 10px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  background: #F9D6D6;
}
.job-box .job-box-btn-layout #heart:hover img, .job-box2 .job-box-btn-layout #heart:hover img {
  scale: 1.2;
}
.job-box .job-box-btn-layout .job-apply-btn button, .job-box2 .job-box-btn-layout .job-apply-btn button {
  width: 100%;
}
.job-box .job-box-btn-layout .job-apply-btn button span, .job-box2 .job-box-btn-layout .job-apply-btn button span {
  color: #E9E7E7;
}
.job-box .job-box-btn-layout .job-apply-btn button:hover, .job-box2 .job-box-btn-layout .job-apply-btn button:hover {
  background: rgba(227, 29, 29, 0.8);
  color: #FFF;
}
.job-box .job-box-btn-layout .job-apply-btn span, .job-box2 .job-box-btn-layout .job-apply-btn span {
  color: #000;
  font-family: SF Pro Display;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}
@media screen and (max-width: 642px) {
  .job-box .job-box-btn-layout .job-apply-btn span, .job-box2 .job-box-btn-layout .job-apply-btn span {
    font-size: 10px;
  }
}
@media screen and (max-width: 416px) {
  .job-box .job-box-btn-layout, .job-box2 .job-box-btn-layout {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30%;
  }
}
@media screen and (max-width: 396px) {
  .job-box .job-box-btn-layout .job-apply-btn button, .job-box2 .job-box-btn-layout .job-apply-btn button {
    font-size: 10px;
  }
  .job-box .job-box-btn-layout .job-apply-btn button span, .job-box2 .job-box-btn-layout .job-apply-btn button span {
    font-size: 8px;
  }
}

@media screen and (max-width: 642px) {
  .job-box {
    width: 90%;
    position: relative;
    margin-inline: 5%;
  }
}
.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20%;
  margin-bottom: 5rem;
  gap: 10px;
}
.pagination span {
  border-radius: 100vw;
  border: 1px solid #F9D6D6;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 3px;
  text-align: center;
  color: #E31D1D;
}
.pagination span:hover {
  background: #F9D6D6;
}
.pagination .pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pagination .pagination-list li {
  padding: 10px;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #E31D1D;
  cursor: pointer;
}
.pagination .pagination-list li.active {
  background: #F9D6D6;
}
.pagination .pagination-list li.active:hover {
  background: #F9D6D6;
}
.pagination .pagination-list li:hover {
  background: hsla(0, 3%, 85%, 0.2);
}

@media screen and (max-width: 747px) {
  .pagination {
    padding-inline: 2rem;
  }
}
@media screen and (max-width: 447px) {
  .pagination {
    padding-inline: 1rem;
  }
  .pagination span {
    padding: 6px 10px;
    font-size: 10px;
    gap: 1px;
  }
  .pagination .pagination-list li {
    width: 35px;
    height: 35px;
    font-size: 10px;
  }
}
@media screen and (max-width: 347px) {
  .pagination {
    padding-inline: 12px;
  }
  .pagination span {
    padding: 6px 8px;
    font-size: 10px;
    gap: 1px;
  }
}
.testimony-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}
.testimony-wrapper .testimony-content {
  width: 400%;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-user {
  position: relative;
  border-radius: 100vw;
  background: #ccc;
  width: 168px;
  height: 168px;
  flex-shrink: 0;
}
.image-user .user-prof {
  inline-size: 100%;
  border-radius: 1000vw;
}
.image-user .svg {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.user-details {
  position: relative;
  width: 50%;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  margin-block: 25px;
  align-items: center;
}
.user-details .test-name {
  font-family: SF Pro Display Text B;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.user-details .text-job {
  font-family: SF Pro Display Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.user-details .testimony {
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.user-details .testimony.is-active {
  display: block;
}
.user-details .testimony.active {
  -webkit-mask: linear-gradient(transparent, white 0%, white 50%, transparent);
  background: #fff;
  mask: linear-gradient(transparent, white 0%, white 50%, transparent);
}
.user-details .read-all {
  display: none;
  color: #E31D1D;
  position: absolute;
  bottom: 0;
  font-style: italic;
  right: 0;
  cursor: pointer;
}
.user-details .read-all.active {
  display: block;
}
.user-details .read-all.is-active {
  display: block;
  bottom: -20px;
  right: 0;
}

@media (max-width: 1030px) {
  .user-details {
    width: 60%;
  }
}
@media (max-width: 830px) {
  .user-details {
    width: 70%;
  }
}
@media (max-width: 630px) {
  .user-details {
    width: 80%;
  }
}
.carusel-hug {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.carusel-hug span {
  width: 15px;
  height: 15px;
  border-radius: 100vw;
  border: 0.9px solid #E31D1D;
  transition: all 0.3s;
}
.carusel-hug .active {
  transform-origin: center;
  transition: all 0.3s;
  background: #E31D1D;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(249, 214, 214, 0.6980392157);
}

.center-foot {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.first-footer {
  width: 100%;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-footer .footer-wrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3rem;
  align-items: start;
  gap: 40px;
}
.first-footer .footer-wrapper .footer-logo-space {
  width: 323px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.first-footer .footer-wrapper .footer-logo-space p {
  color: #000;
  font-family: SF Pro Display Text;
  font-size: 14px;
  font-weight: 400;
}
.first-footer .footer-wrapper .footer-logo-space span {
  display: flex;
  gap: 10px;
}
.first-footer .footer-wrapper .footer-logo-space span a {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #E31D1D;
}
.first-footer .footer-wrapper .quick-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.first-footer .footer-wrapper .quick-link span {
  color: #0D0C0C;
  font-family: SF Pro Display Text;
  font-size: 20px;
  font-weight: 600;
}
.first-footer .footer-wrapper .quick-link ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: start;
  gap: 12px;
}
.first-footer .footer-wrapper .quick-link ul li {
  color: #011004;
  font-family: SF Pro Display Text;
  font-size: 14px;
  font-weight: 400;
}
.first-footer .footer-wrapper .quick-link ul li a {
  margin-left: -1rem;
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
}
.first-footer .footer-wrapper .contact-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.first-footer .footer-wrapper .contact-us span {
  color: #0D0C0C;
  font-family: SF Pro Display Text;
  font-size: 20px;
  font-weight: 600;
}
.first-footer .footer-wrapper .contact-us .contact-link {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.first-footer .footer-wrapper .contact-us a {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  text-align: start;
  font-style: normal;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  font-family: SF Pro Display Text;
}

.footer {
  height: 90px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #CCC;
}
.footer h3 {
  color: #0D0C0C;
  font-family: SF Pro Display Text;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1008px) {
  .first-footer .footer-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 80px;
  }
  .first-footer .footer-wrapper .footer-logo-space span {
    display: flex;
    gap: 10px;
  }
  .first-footer .footer-wrapper .footer-logo-space span a {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E31D1D;
  }
  .first-footer .footer-wrapper .footer-logo-space span a img {
    width: 70%;
  }
  .footer {
    padding: 1rem;
    width: 100%;
    border-top: 0.3px solid #ccc;
  }
}/*# sourceMappingURL=style.css.map */